<p>
Comments:
<% @snippet.comments.each do |comment| %>
	<p>
    <%= comment.label :commenter %><br>
    <%= comment.text_field :commenter %>
  </p>
  <p>
    <%= comment.label :body %><br>
    <%= comment.text_area :body %>
  </p>
  <p>
<% end %>
</p>